<html>
<body>
{% block content %}{% endblock %}
<br>
<hr>
Widomość została wygenerowana automatycznie.<br>
Prosimy nie odpowiadać na nią.<br>
W celu skontaktowania się z nami prosimy o kontakt mailowy <a href="mailto:m{{ admin.email }}">{{ admin.email }}</a>
</body>
</html>
